<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Master's student at <a class="underline-link" href="https://cpsc.yale.edu/">Yale University</a>. In 2023, I graduated from <a class="underline-link" href="https://nyuad.nyu.edu/en/">NYU Abu Dhabi</a> with a Bachelor degree in Computer Science. 
      Previously, I interned at <a class="underline-link" href="https://www.tiktok.com/">TikTok</a>, <a class="underline-link" href="https://www.nokia.com/">Nokia</a> and <a class="underline-link" href="https://www.combyne.com/">combyne</a>. Right now, I am looking for
      a internship role in Summer 2024, feel free to <a class="underline-link" href="mailto:hncswpy@gmail.com">email me</a> if you think I might be a fit.
    </p>

    <p>
      As a computer scientist, I challenge myself reading papers on the frontiers of research &mdash; particularly those about data engineering and distributed systems. I also enjoy
      the practical side of computer science, so you might find me participating in hackathons and side projects. You can check out my projects on my <a class="underline-link" href="https://github.com/cswpy">Github</a>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably gaming, hanging out with my friend,
      or treating myself with some comfort food.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
