<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently the Cranmore Fellow that is supported by Cranmore Partners and <a class="underline-link" href="http://sites.nyuad.nyu.edu/cities">Center for Interacting Urban Networks (CITIES)</a>,
      you can see the details of the fellowship <a href="https://sites.nyuad.nyu.edu/cities/research/cranmore-partners-cities-program/" class="underline-link">here.</a>
    </p>

    <p>
      As a computer scientist, I challenge myself reading papers on the frontiers of research &mdash; particularly those about data processing and machine learning. I also enjoy
      the practical side of computer science, so you might find me participating in hackathons and side projects. My ultimate goal is to create something that is valuable enough
      to become a legacy. I know this is a grandiose objective and I am working on it.
      
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably basketballing, hanging out with my friend,
      or treating myself with comfort food.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
