<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a senior year undergraduate Computer Sciene major at <a class="underline-link" href="https://nyuad.nyu.edu/en/">New York Univeristy Abu Dhabi</a>. In summer 2022, I interned in the Non-China Monetization
      Data team in <a class="underline-link" href="https://www.tiktok.com/">TikTok</a>, where I have completed a project relating to data warehousing and pipelining. Previously, I have interned in <a class="underline-link" href="https://www.nokia.com/">Nokia</a> and
      <a class="underline-link" href="https://www.combyne.com/">combyne</a> as software engineer and data scientist, respectively.
    </p>

    <p>
      I'm previously the Cranmore Fellow that is supported by Cranmore Partners and <a class="underline-link" href="http://sites.nyuad.nyu.edu/cities">Center for Interacting Urban Networks (CITIES)</a>,
      you can see the details of the fellowship <a href="https://sites.nyuad.nyu.edu/cities/research/cranmore-partners-cities-program/" class="underline-link">here.</a> I am planning to pursue a masters
      degree in Computer Science in Fall 2023 and I am actively looking for an internship in 2023 summer, feel free to <a class="underline-link" href="mailto:hncswpy@gmail.com">email me</a> if you think I might be a fit.
    </p>

    <p>
      As a computer scientist, I challenge myself reading papers on the frontiers of research &mdash; particularly those about data engineering and distributed systems. I also enjoy
      the practical side of computer science, so you might find me participating in hackathons and side projects. You can check out my projects on my <a class="underline-link" href="https://github.com/cswpy">Github</a>.
      
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably basketballing, hanging out with my friend,
      or treating myself with comfort food.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
